.book-container {
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  padding-bottom: 2rem;
}
.book-rank{
  margin-top: 2rem;
}
.book-content{
  margin-right: 1rem;
}
.text-bold{
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.5;
}
.text-normal{
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.7rem;
}
.book-title{
  margin-bottom: 0.5rem;
}
.book-img{
  margin-left: 2rem;
  margin-right: 2rem;
  flex-shrink: 0;
}
.book-img-default{
  margin-left: 2rem;
  margin-right: 2rem;
  flex-shrink: 0;
  background-color: bisque;
  width: 11rem;
  height:50/3rem;
}
.margin-top-2{
  margin-top: 2rem;
}